<h1>New Form For CATS for Dylan</h1>

<form action="<%= cats_url %>" method="POST">

    <label> name
        <input type="password" name="cat[name]" value = "<%=@cat.name%>" placeholder="name"><br>
    </label>

     <label> color
     <select name="cat[color]">
        <option value="red">Red</option>
        <option value="orange">Orange</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="purple">Purple</option>
        <option value="tortoise">Tortoise</option>
     </select>
    </label>

     <label> sex
        <input type="text" name="cat[sex]" value = "<%=@cat.sex%>" placeholder="sex"><br>
    </label>

     <label> description
        <textarea name="cat[description]" value = "<%=@cat.description%>" placeholder="description"></textarea>
        <br>
    </label>

     <label> birth date
        <input type="date" name="cat[birth_date]" value = "<%=@cat.birth_date%>" placeholder="birth_date"><br>
    </label>

     <label> submit please
        <input type="submit" value="new cat!!!"><br>
    </label>

</form>
